@import '~antd/dist/antd.css';

body {
	margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.logo {
	margin: 0px 10px 0px 0px;
  float: left;
}

.centered {
	text-align: center;
}

.content {
	padding: 14px 56px;
}

.menu {
	line-height: 64px
}
