{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "import"
  ],
  "parser": "babel-eslint",
  "rules": {
    "indent": [2, 2],
    "no-tabs": 0,
    "no-mixed-operators": 0,
    "arrow-parens": 0,
    "import/no-extraneous-dependencies": 0,
    "arrow-body-style": [0, "as-needed"],
    "comma-dangle": ["error", "only-multiline"],
    "no-trailing-spaces": [2, { "skipBlankLines": true }],
    "max-len": 0,
    "no-console": 0,
    "no-throw-literal": 0,
    "no-useless-escape": 0,
    "object-curly-newline": 0,
    "prefer-destructuring": 0,
    "no-debugger": 0,
    "global-require": "off",
    "no-shadow": 0,
    "no-case-declarations": 0,
    "no-nested-ternary": 1,
    "no-underscore-dangle": 0,
    "camelcase": 1,
    "no-param-reassign": 0,
    "import/prefer-default-export": 0,
    "no-plusplus": 0,
    "no-else-return": ["error", {"allowElseIf": true}],
    "no-return-assign": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".json"
        ]
      }
    }
  }
}
